.subscribe{
    background-color: rgb(190, 190, 190);
}

.subscribe__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.socials{
    display: flex;
    gap: 8px;
}