button {
  padding: 16px 40px;
  border: none;
  border-radius: 43px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: var(--hard-primary);
  transition: all 0.3s;
}

.search__btn {
  padding: 14px 24px;
  border-radius: 0 6px 6px 0;
}
