section{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
li{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories__card{
    display: flex;
    flex-direction: column;
    text-align: center;
}